body{
    margin: 0;
    padding:0;
}
/* menus premiere page */

.page{	
	max-width:1000px;
	width: 100%;
	margin: auto;
	border: 1px solid black;
}
header{
	max-width: inherit;
	display: flex;
    justify-content: center;
	width: 100%;
	height: 100px;
	align-items: center;
	background:#579C87 ;
	color :#FDCB46;
	margin-bottom: 80px;
}

/* style des 4 carres */

header h1{  
	font-size: 3em;
	margin: 0;
	font-family: 'Arimo', sans-serif;
	color :#FDCB46;	
}
.page main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.page h2{
	margin: 0;
	font-weight:normal;
}
.page p{
	margin: 0;
	font-weight: normal;
}
.carre{
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 500px;
	margin: 30px;
	box-shadow: 0px 0px 10px rgba(197, 196, 196); 
	justify-content: center;
	transform: scale(1);
	transition: .4s ease-in-out;
	
}
.carre :hover{
	cursor: pointer;
    transform: scale(1.10);
    opacity: .6;
    transition: opacity .9s;
    }

a, footer, header{
  text-decoration: none;
}

/* la note enchantée */
.carre1{
	background: #fcdfdb;
	font-family: 'Devonshire' , cursive;

	
}
.carre1 img{
	width: 70px;
}
.carre1 h2{
	font-size: 2em;
	color: black;
}

.carre1 p{
	color:#3c1218; 
	font-family: 'Sriracha', cursive;
    font-size: 2em;
}

/* le chic à la française*/
.carre2{
	background: #fff5fe;
	font-family: 'Croissant One', cursive;
}
.carre2 h2{
	 font-size: 1.2em;
     background:-webkit-gradient(linear,left top, right bottom , from(#D8852E),to(#905BFD));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background:gradient(linear,left top, right bottom , from(#D8852E),to(#905BFD));
    background-clip: text;

}
.carre2 p{
    color:#c77412;
    font-family: 'Noto Serif', serif; 
    font-size: 2em;
}

/* le délice des papilles */
.carre3{
	background: #fdfffd;
	font-family: 'Dancing Script', cursive;
}
	
.carre3 h2{
    font-size: 2em;
    background:-webkit-gradient(linear,left top, right bottom , from(#2140df),to(#0887fb));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background:gradient(linear,left top, right bottom , from(#2140df),to(#0887fb));
    background-clip: text;
}
.carre3 p{
    color:#0887fb;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2.5em;
}
/* la palette du gout */
.carre4{
	background: #fdfffd;
	font-family: 'Kaushan Script', cursive;
}
.carre4 h2{
	font-size: 2em;
	background:-webkit-gradient(linear,left top, right bottom , from(#42973c),to(#bfff7c));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background:gradient(linear,left top, right bottom , from(#42973c),to(#bfff7c));
    background-clip: text;
}
.carre4 p{
	color:#72bf56; 
	font-family: 'Nanum Pen Script', cursive;
	font-size: 2.5em;
}

/* bouton prochainement */
#prochainement{
	width:400px;
	height:60px;
	border-radius: 10px;
	color: #fdcb46 ;
	background: #579C87;
	margin-top: 20px;
	margin-bottom: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dot{
	display: flex;
	animation:opaci 1s ease infinite alternate;
}

@-webkit-keyframes opaci{
	0%{opacity:0;
	}
	50%{opacity:0.5;
	}
	100%{opacity:1;
	}
}            

@keyframes opaci{
	0%{opacity:0;
	}
	50%{opacity:0.5;
	}
	100%{opacity:1;
	}
}            

.point{
	margin-bottom: 30px;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	background:#FDCB46;
	margin-right: 5px;
	align-items: center;
	margin-block-start: 2EM;
	cursor: pointer;
}

#prochainement p{
	margin-right: 10px;
}
#prochainement p,footer p{
	font-size: 30px;
	cursor: pointer;
	transform: scale(1);
	align-content: center;
	font-family: 'Montserrat', sans-serif;
    
 }
 /* animation footer*/
footer p:hover{
	animation:shake .1s ease-in-out .1s infinite alternate;
}
@-webkit-keyframes shake{
	from{
		-webkit-transform:rotate(10deg);
	}
	to{
		-webkit-transform:rotate(-10deg);
		-webkit-transform-origin:center center;
	}
}
footer p:hover{
	animation:shake .1s ease-in-out .1s infinite alternate;
}
@keyframes shake{
	from{
		transform:rotate(10deg);
	}
	to{
		transform:rotate(-10deg);
         transform-origin:center center;
	}
}

  /* footer */  
footer{
	max-width: inherit;
	position:fixed; 
	width: 100%;
	height: 70px;
	background: #579C87;
	color:#FDCB46 ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
	bottom: 0;
}
footer p{
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    font-size:1.5em;
}
#mention p{
	margin-left: 20px;
	color:#FDCB46 ;
}
#contactez p{
	margin-right: 20px;
	color:#FDCB46 ;
}	

/* menus individuel style des 4 menus */

h2 {
	font-weight: lighter;
	cursor: pointer;
	position: relative;

}
h2:after{
	content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease;
    
}
.page1 h2:hover:after {
    width: 100%;
    background: black;
}
.page2 h2:hover:after {
    width: 100%;
    background:-webkit-gradient(linear,left top, right bottom , from(#D8852E),to(#905BFD));
    background:gradient(linear,left top, right bottom , from(#D8852E),to(#905BFD));
}
.page3 h2:hover:after {
    width: 100%;
    background:-webkit-gradient(linear,left top, right bottom , from(#2140df),to(#0887fb));
    background:gradient(linear,left top, right bottom , from(#2140df),to(#0887fb));
}
.page4 h2:hover:after {
    width: 100%;
    background:-webkit-gradient(linear,left top, right bottom , from(#42973c),to(#bfff7c));
    background:gradient(linear,left top, right bottom , from(#42973c),to(#bfff7c));
}
 h2 {
	text-align: center;
	white-space: nowrap;
} 

.titre{
	display: flex;
	text-align: center;
	justify-content: space-around;
	margin-bottom: 20px;
}
article p{
	margin-top: 5px;
	font-weight: bolder;
}
.plat{
	margin-left: 100px;
}
.prix{
	margin-right: 100px;
}
h3{
	margin: 0px;
	font-weight: lighter;
}
 h3 .dessert .page1, .page2 {
	margin:  20px;
}
.page1 .bas h3{
	font-size: 2em;
	font-family: 'Devonshire' , cursive;
}

/* la note enchantée */

.page1{
	max-width:900px;
	height: auto;
	margin: auto;
	border: 1px solid black;
	background-color:#fcdfdb;
	font-family: 'Kalam', cursive;
	font-size: 1em;
}
body .page1{
	color: #3D1319
}

/* le chic à la française*/

.page2{
	max-width: 900px;
	height: auto;
	margin: auto;
	border: 1px solid black;
	background-color: #FFF5FE;
    font-family:'Crimson Text', serif;
    font-size: 1em;
}


/* le delice des papilles*/

.page3{
	max-width: 900px;
	height: auto;
	margin: auto;
	border: 1px solid black;
	background-color:#EDEFEF;
	font-family: 'Kalam', cursive;
	font-size: 1em;

}

/* la palette du gout*/

.page4{
	max-width: 900px;
	height: auto;
	margin: auto;
	border: 1px solid black;
	background-color:#FDFFFD;
	font-family: 'Kalam', cursive;
	font-size: 1em;

}


/* menu note enchantée */
.page1 .tete{
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 2em;
	margin-top: 30px;
	align-items: center;
}
.page1 .tete img{
   width: 90px;
   height: 90px;
}
.page1 .tete h1{
	font-family: 'Devonshire',cursive;
	justify-content: center;
	margin-top: 10px;
	font-weight: lighter;
}
.page1 img {
	width: 90%;
	height: auto;
}

.page1 article{
	display: flex;
	justify-content: space-between;
}

.page1 .bas{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 120px;
}
.page1 .bas img{
	padding-right: 15px;
	width: 60px;
	height: 60px;
}

/* menu chic à la française */
.page2 .tete {
	text-align: center;
	font-size: 	1em;
	font-family: 'Croissant One', cursive;
	background:-webkit-gradient(linear,left top, right bottom , from(#d8852e),to(#905bfd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background:gradient(linear,left top, right bottom , from(#d8852e),to(#905bfd));
    background-clip: text;
    margin-top: 100px;
    margin-bottom: 100px;
}
.page2 .entree{
	color: #C67412;
    margin-bottom: 40px;
}
.page2 .plat1 {
	color: #A56799;
	margin-bottom: 40px;
}
.page2 .dessert{
    color: #6E4CCC;
    margin-bottom: 120px;
}

.page2 .trait{
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.page2 img{
	width: 90%;
	height: auto;
}

.page2 article{
	display: flex;
	justify-content: space-between;
}


/* menu délice des papilles*/
.page3 .tete{
	text-align: center;
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
    background:-webkit-gradient(linear,left top,right bottom, from(#2140DF),to(#0887FB)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background:gradient(linear,left top,right bottom, from(#2140DF),to(#0887FB)); 
    background-clip: text;
    text-emphasis-color: transparent;
    margin-top: 100px;
    margin-bottom: 100px;
}
.page3 h2{
	text-align: center;
	white-space: nowrap;
	margin: auto;
}
.page3 img{
	width: 90%;
	height: auto;
}
.page3 .entree {
	margin-bottom: 40px;
}
.page3 .plat1{
	margin-bottom: 40px;
}
.page3 article{
	display: flex;
	justify-content: space-between;
}

.page3 .dessert{
	margin-bottom: 120px;
}

/* menu la palette du gout*/
.page4 .tete{
	text-align: center;
	font-size: 	2em;
	font-family: 'Kaushan Script', cursive;
	background:-webkit-gradient(linear,left top, right bottom , from(#42973c),to(#bfff7c));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 100px;
    margin-bottom: 100px;
}
.page4 h2 {
	text-align: center;
	white-space: nowrap;
	margin: auto;
}
.page4 img{
	width: 90%;
	height: auto;
}
.page4 .entree {
	margin-bottom: 40px;
}
.page4 .plat1{
	margin-bottom: 40px;
}
.page4 article{
	display: flex;
	justify-content: space-between;
}
.page4 .dessert{
	margin-bottom: 120px;
}

/* Responsive*/
@media screen and (max-width:768px){

	#prochainement{
		width: 80%;
	}
	#prochainement p{
		font-size: 20px;
	}
	.point{
		width:10px ;
		height:10px ;
	}
	footer{
		flex-direction: column;
	}
	#mention{
		width: 100%;
		height: 10%;
	}
	#contactez{
		width: 100%;
		height: 10%;
	}
	#mention p{
		margin-left: 0px;
		text-align: center;
	}
	#contactez p{
		margin-right: 0px;
		text-align: center;
	}	
}
 @media screen and (max-width:425px){
	 
	 img{
		 padding-top: 15px;
	 }
	 .page1 .bas img{
		padding-right: 1px;
        padding-top: 5px;
	 }
	 .page1 img{
		padding-top: 25px;
	}
	 article{
		 flex-direction: column;
		 margin-bottom: 20px;
		 text-align: center;
		 margin: 0;
	 }
	 .plat{
		 margin-left: 0;
	 }
     .prix{
		 margin-right: 0;
	 }
     article p{
	 text-align: center;
	 margin-right: 0;
     }

}



 

